.wap {
    color: #000;
    font-family: "Roboto";
    line-height: 1.5;
    --height: 488px;
    --box-shadow-bottom: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    --pri-color: #edac03;
    font-size: 1.2rem;
    overflow: auto;

    &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/images/background/bg1.png");
        background-size: cover;
        background-position: center top;
        z-index: 0;
    }

    &::after {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.3);
        z-index: 0;
    }

    .container {
        max-width: 800px;
        margin: auto;
        z-index: 1;
        position: relative;

        .main {
            transition: transform linear 0s;
            transform: scaleY(0.8) translateY(-25%);

            .box_1 {
                text-align: center;
                position: relative;
                box-shadow: var(--box-shadow-bottom);
                overflow: hidden;
                background-image: url("/images/background/bg.jpg");
                background-size: cover;
                background-position: center;
                height: 100%;
                transform: translateX(-180deg);
                z-index: 1;

                .main_box {
                    position: absolute;
                    width: 100%;
                    bottom: 2rem;

                    .heading {
                        font-family: "Fleur De Leah";
                        font-size: 3.5rem;
                        font-weight: 500;
                    }

                    .title {
                        font-size: 1.1rem;
                        font-family: "WindSong";
                        font-weight: $font-bold;
                    }

                    .date {
                        font-weight: bold;
                        font-size: 1.1rem;
                    }
                }
            }

            .box_2 {
                overflow: hidden;
                box-shadow: $box-shadow;
                background-image: url(/images/background/bca.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: right bottom;
                margin: 0.2rem 0;
                height: 100%;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba($color: $background-color, $alpha: 0.8);
                }

                .main_box {
                    padding: 2rem;
                    position: relative;
                    color: $note-color;
                    z-index: 1;
                    white-space: nowrap;
                    margin: auto;
                    max-width: 30rem;
                    top: 50%;
                    transform: translateY(-50%);

                    .name1 {
                        font-family: "WindSong";
                        font-size: 3.5rem;
                        text-align: left;
                    }

                    .and {
                        font-family: "WindSong";
                        font-weight: bold;
                        font-size: 1.5rem;
                        text-align: center;
                    }

                    .name2 {
                        font-family: "WindSong";
                        font-size: 3.5rem;
                        text-align: right;
                    }
                }
            }

            .page {
                height: var(--height);
                position: relative;
                transition:
                    transform 0s,
                    rotate 0s ease-in;
                rotate: 1 0 0 0deg;
                display: flex;
                pointer-events: all;
                user-select: none;
                transform-style: preserve-3d;

                &.page1 {
                    height: calc(var(--height) * 70 / 100);
                    z-index: 30;
                    transform-origin: left bottom;
                    rotate: 1 0 0 -180deg;
                    z-index: 10;
                }

                &.page3 {
                    z-index: 30;
                    transform-origin: left top;
                    rotate: 1 0 0 -180deg;
                    z-index: 1;
                }

                .front,
                .back {
                    flex: none;
                    width: 100%;
                    backface-visibility: hidden;
                    background-color: #fff;
                    transform-style: preserve-3d;
                    translate: 0 0;
                    height: 100%;
                }

                .back {
                    translate: -100% 0;
                    rotate: 0 1 0 -180deg;
                    transform: rotateZ(-180deg);
                }
            }

            .box_3 {
                position: relative;
                padding: 2rem 1rem;
                box-shadow: var(--box-shadow-bottom);
                overflow: hidden;
                background-color: $background-color;

                .main_box {
                    border: 1px solid #dbbc95;
                    border-radius: 0.6rem;
                    padding: 1rem;
                    height: 100%;

                    .content {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    .lable1 {
                        font-weight: $font-bold;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 0.4rem 0;
                    }

                    .customer_name {
                        margin: 0.4rem auto;
                        width: 50%;
                        text-align: center;
                        border-bottom: 1px dashed #000;
                        font-family: "Dancing Script";
                        color: $note-color;
                        font-weight: bold;
                        font-size: 1.3rem;
                    }

                    .lable2 {
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 1rem;
                        margin: 0.6rem 0;
                    }

                    .user_main {
                        text-align: center;
                        font-family: "Pinyon Script";
                        color: var(--pri-color);
                        margin: auto;
                        max-width: 30rem;

                        .name,
                        .name2 {
                            font-size: 2.8rem;
                            display: block;
                            text-align: left;
                            transform: translateX(10%);
                        }

                        .name2 {
                            text-align: right;
                            margin-right: 2rem;
                            transform: translateX(-10%);
                        }

                        .and {
                            display: block;
                            margin: auto 1.5rem;
                            text-align: center;

                            :global(.icon-svg) {
                                fill: var(--pri-color);
                                width: 1.2rem;
                                height: 1.2rem;
                            }
                        }
                    }

                    .title_at_time {
                        text-transform: uppercase;
                        font-size: 1.1rem;
                        text-align: center;
                        margin-top: 1rem;
                    }

                    .at_time {
                        text-align: center;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 1rem;
                    }

                    .date {
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1.1rem;

                        span {
                            vertical-align: middle;
                        }

                        .day {
                            font-size: 2rem;
                            padding: 0 0.8rem;
                            display: inline-block;
                            border: 0px solid #000;
                            border-width: 0 1px;
                            margin: 0 0.8rem;
                            line-height: 1;
                            color: var(--pri-color);
                        }
                    }

                    .lunar_calendar {
                        text-align: center;
                        font-weight: bold;
                        font-style: italic;
                        font-size: 1.1rem;
                    }

                    .address {
                        width: 85%;
                        border: 0 dashed #000;
                        border-width: 1px 0;
                        margin: auto;
                        text-align: center;
                        margin-top: 0.4rem;
                        padding: 0.4rem 0;

                        .at {
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 1.1rem;
                        }

                        .detail {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .box_4 {
                position: relative;
                padding: 2rem;
                box-shadow: var(--box-shadow-bottom);
                overflow: hidden;
                background-image: url("/images/background/bca.png");
                background-repeat: no-repeat;
                background-position: 3rem 0;
                background-size: auto 100%;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba($color: $background-color, $alpha: 0.9);
                }

                .main_box {
                    text-align: center;
                    z-index: 1;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);

                    .title {
                        font-family: "Pinyon Script";
                        color: var(--pri-color);
                        font-size: 3.2rem;
                        line-height: 1;
                    }

                    .at_time {
                        margin: 1.5rem 0 0.4rem 0;
                    }

                    .day_of_week {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 1.1rem;
                    }

                    .date {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 1.4rem;
                    }

                    .lunar_calendar {
                        font-weight: bold;
                        font-style: italic;
                        font-size: 1.1rem;
                    }

                    .address {
                        width: 89%;
                        border: 0 dashed #000;
                        border-width: 1px 0;
                        margin: auto;
                        text-align: center;
                        margin-top: 0.4rem;
                        padding: 0.4rem 0;

                        .at {
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 1.1rem;
                        }

                        .detail {
                            font-size: 1rem;
                        }
                    }

                    .thanks {
                        font-family: "Pinyon Script";
                        font-size: 2rem;
                        margin: 1rem 0;
                        font-weight: 500;
                        color: $note-color;
                    }

                    .flex {
                        display: flex;
                        margin-left: -0.8rem;
                        margin-right: -0.8rem;
                        margin: auto;
                        justify-content: space-evenly;

                        .flex_1 {
                            flex: 1;
                        }

                        .group {
                            margin: 0.4rem;
                            margin-top: 0.5rem;
                            font-size: 1rem;
                            white-space: nowrap;

                            .group_title {
                                font-weight: bold;
                            }

                            .father,
                            .mother {
                                text-transform: uppercase;
                            }

                            .address_info {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }

            .box_5 {
                background-color: #fdeeee;
                position: relative;
                overflow: hidden;
                box-shadow: var(--box-shadow-bottom);
                &.back {
                    background-color: #fdeeee;
                }

                .main_box {
                    padding: 2rem 0 4rem 0;
                    text-align: center;
                    width: 100%;
                    position: relative;
                    transform: translateY(-100%);
                    top: 100%;

                    .title {
                        text-transform: uppercase;
                        font-size: 1.1rem;
                    }

                    .customer_name {
                        border-bottom: 1px dashed #000;
                        width: 40%;
                        margin: auto;
                        font-family: "Dancing Script";
                        color: $note-color;
                        font-weight: bold;
                        font-size: 1.4rem;
                        line-height: 1.1;
                        font-style: italic;
                        margin-top: 0.4rem;
                    }
                }
            }
        }
    }
}

.wap.open {
    .container {
        .main {
            transition: transform linear 1.2s;
            transform: scale(1) translateY(0);
            .page {
                transition:
                    transform 1s,
                    rotate 1s ease-in;
                &.page1,
                &.page3 {
                    rotate: 1 0 0 0deg;
                }

                .box_3 {
                    transition: opacity 2s linear;
                }
            }
        }
    }
}

@keyframes ring {
    0% {
        transform: rotate(0) translate(-50%, 0%);
    }
    1% {
        transform: rotate(10deg) translate(-50%, 0%);
    }
    3% {
        transform: rotate(-10deg) translate(-50%, 0%);
    }
    5% {
        transform: rotate(15deg) translate(-50%, 0%);
    }
    7% {
        transform: rotate(-15deg) translate(-50%, 0%);
    }
    9% {
        transform: rotate(10deg) translate(-50%, 0%);
    }
    11% {
        transform: rotate(-10deg) translate(-50%, 0%);
    }
    13% {
        transform: rotate(8deg) translate(-50%, 0%);
    }
    15% {
        transform: rotate(-8deg) translate(-50%, 0%);
    }
    17% {
        transform: rotate(7deg) translate(-50%, 0%);
    }
    19% {
        transform: rotate(-10deg) translate(-50%, 0%);
    }
    21% {
        transform: rotate(8deg) translate(-50%, 0%);
    }
    23% {
        transform: rotate(-8deg) translate(-50%, 0%);
    }
    25% {
        transform: rotate(7deg) translate(-50%, 0%);
    }
    27% {
        transform: rotate(-6deg) translate(-50%, 0%);
    }
    29% {
        transform: rotate(5deg) translate(-50%, 0%);
    }
    31% {
        transform: rotate(-4deg) translate(-50%, 0%);
    }
    33% {
        transform: rotate(3deg) translate(-50%, 0%);
    }
    35% {
        transform: rotate(-2deg) translate(-50%, 0%);
    }
    37% {
        transform: rotate(1deg) translate(-50%, 0%);
    }
    39% {
        transform: rotate(-1deg) translate(-50%, 0%);
    }
    41% {
        transform: rotate(1deg) translate(-50%, 0%);
    }

    43% {
        transform: rotate(0) translate(-50%, 0%);
    }
    100% {
        transform: rotate(0) translate(-50%, 0%);
    }
}

.open_wap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: url("/images/background/bg1.png");
    background-size: cover;
    background-position: center top;

    &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 0;
    }

    .mail_box {
        width: 12rem;
        height: 12rem;
        background-image: url("/images/background/mail.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        z-index: 1;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-animation: ring 4s 0.7s ease-in-out infinite;
        -moz-animation: ring 4s 0.7s ease-in-out infinite;
        animation: ring 6s 0.7s ease-in-out infinite;

        .text {
            position: absolute;
            display: block;
            bottom: 2rem;
            left: 0;
            width: 100%;
            text-align: center;
            color: #fff;
            font-family: "Dancing Script";
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    button {
        font-size: 1.6rem;
        font-family: "Dancing Script";
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

.toolbars {
    position: fixed;
    right: 17px;
    bottom: 8rem;
    z-index: 1;

    a {
        display: block;
        margin: 0.4rem 0;
        padding: 0.8rem;
        border: 1px solid #fdeeee;
        border-radius: 0.4rem;
        background-color: #fdeeee;
        cursor: pointer;

        :global(.icon-svg) {
            margin-right: 0;
            width: 1.2rem;
            height: 1.2rem;
            fill: $note-color;
        }

        &:hover {
            background-color: $note-color;
            border-color: $note-color;
            :global(.icon-svg) {
                fill: #fff;
            }
        }
    }
}

.accept {
    position: fixed;
    z-index: 1;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.6rem 0.8rem;
}

@media (min-width: 640px) {
    .wap {
        .container {
            .main {
                .box_2 {
                    .main_box {
                        margin: 0;
                        margin-left: 10%;
                    }
                }

                .box_3 {
                    .main_box {
                        .user_main {
                            max-width: none;
                            margin: 0;
                            .name,
                            .name2 {
                                display: inline-block;
                                text-align: left;
                                transform: none;
                            }

                            .and {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 920px) {
    .open_wap {
        background-position: center -268px;
    }
    .wap {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &::before {
            background-position: center -268px;
        }

        .container {
            padding: 2rem 0;

            .main {
                .box_1 {
                    .main_box {
                        position: absolute;
                        bottom: 2.5rem;
                        right: 0;
                        left: 0;
                        padding: 0;

                        .heading {
                            font-size: 4rem;
                        }

                        .title {
                            font-size: 1.5rem;
                            font-weight: 500;
                        }

                        .date {
                            font-size: 1.2rem;
                        }
                    }
                }

                .box_2 {
                    box-shadow: var(--box-shadow-bottom);
                    margin: 0;
                    max-width: none;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba($color: $background-color, $alpha: 0.6);
                    }

                    .main_box {
                        position: absolute;
                        padding: 0;
                        top: 50%;
                        left: 6rem;
                        transform: rotateZ(-7deg) translateY(-50%);

                        .name1 {
                            font-size: 4.5rem;
                        }

                        .and {
                            font-weight: bold;
                            font-size: 1.5rem;
                            margin-left: 16rem;
                            text-align: left;
                        }

                        .name2 {
                            font-size: 4.5rem;
                            margin-left: 15rem;
                            text-align: left;
                        }
                    }
                }

                .box_3 {
                    padding: 2rem;
                    box-shadow: var(--box-shadow-bottom);
                    height: var(--height);

                    .main_box {
                        height: 100%;

                        .user_main {
                            text-align: center;
                            font-family: "Pinyon Script";
                            color: var(--pri-color);
                            margin: 0;
                            max-width: none;

                            .name,
                            .name2 {
                                text-align: center;
                                transform: none;
                            }

                            .and {
                                margin: auto 2rem;

                                :global(.icon-svg) {
                                    width: 1.8rem;
                                    height: 1.8rem;
                                }
                            }
                        }

                        .title_at_time {
                            margin-top: 0;
                        }

                        .at_time {
                            font-size: 1.1rem;
                        }

                        .date {
                            font-size: 1.2rem;
                            .day {
                                font-size: 2.5rem;
                            }
                        }

                        .lunar_calendar {
                            font-size: 1.2rem;
                        }

                        .address {
                            width: 65%;

                            .at {
                                font-size: 1.2rem;
                            }

                            .detail {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }

                .box_4 {
                    .main_box {
                        margin-left: 12%;

                        .day_of_week {
                            font-size: 1.2rem;
                        }

                        .date {
                            font-size: 1.6rem;
                        }

                        .lunar_calendar {
                            font-size: 1.2rem;
                        }

                        .address {
                            width: 80%;

                            .at {
                                font-size: 1.2em;
                            }

                            .detail {
                                font-size: 1.1rem;
                            }
                        }

                        .thanks {
                            margin: 0.6rem 0;
                        }

                        .flex {
                            display: flex;
                            margin-top: -1rem;
                            margin: 0;
                            max-width: none;

                            .flex_1 {
                                flex: 1;
                            }

                            .group {
                                margin-top: 0;
                                margin: 0 6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
