.wap {
    background-color: #e9f1fe;

    .nav_wap {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: #e9f1fe;

        &.hide_nav_mobile {
            display: none;
        }
    }

    .main_wap {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
        height: 100vh;

        .top_bar_wap {
            height: 3.5rem;
        }

        .main_box {
            flex: 1;
            overflow: hidden;
            background-color: $background-color;
            margin-top: 0.8rem;
            margin-left: 0.4rem;
            // border-radius: 0.4rem 0 0 0;
            box-shadow: $box-shadow;
            border-top: 2px $note-color solid;
        }
    }
}

@media (min-width: 920px) {
    .wap {
        display: flex;
        height: 100vh;
        overflow: hidden;

        .nav_wap {
            width: 15rem;
            position: relative;

            &.hide_nav_mobile {
                display: block;
            }
        }
    }
}
