//Màu chính
$primary-color: #fdcd0b;
$background-color: #ffffff;
$text-color: #4f555b;
$text-line-color: #ebeef0;
$title-color: #282a2b;
$border-color: #dadada;
$note-color: #e5101d;
$background-note-color: #f5a10026;
$success: #00d631;

//cỡ chữ
$font-size-normal: 13px;
$font-size-x-small: 0.6em;
$font-size-small: 0.8em;
$font-size-large: 1.2em;
$font-size-x-large: 1.4em;
$font-size-xx-large: 1.6em;
$font-size-xxx-large: 1.8em;

//
$font-bold: 600;

//
$backgrourd-linear-left: linear-gradient(90deg, #f66038, #ffba00 51%, #f65e38);
$backgrourd-linear-right: linear-gradient(90deg, #eeab00, #eb3337 51%, #eeab00);

//
$box-shadow: 0 0 0.8rem 0 rgb(0 0 0 / 10%);
$box-shadow-primary: 0 0 0 2px rgb(255 197 0 / 20%);

//#region new version
$new-primary-color: #f27c08;
//#endregion
