@import "./../../mtl.variables.scss";

.dict-base-list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    background-color: $background-color;
    width: 100%;
    height: 100%;

    .search-bar {
        padding: 6px;
        border-bottom: 1px solid $border-color;
        position: relative;

        input {
            width: 100%;
            padding-right: 2.2rem;
        }

        .icon-svg {
            position: absolute;
            right: 1.2rem;
            top: 1rem;
        }
    }
}

.dict-base-list .toolbar {
    margin: 4px;
}

.dict-base-list .toolbar button {
    margin: 4px 2px;
    padding: 4px 11px;
    height: auto;
    font-size: 0.9rem;

    .icon-svg {
        width: 0.9rem;
        height: 0.9rem;
    }

    &.bt-filter.active {
        background-color: $primary-color;
    }
}

.dict-base-list div.listing {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 0;
    overflow: hidden;
}

.dict-base-list .title {
    border-top: 2px solid $note-color;
}

.dict-base-list .title-content {
    display: inline-block;
    padding: 0.4rem 1rem;
    background-color: $primary-color;
    border-radius: 0 0 1.1rem 0;
    font-weight: $font-bold;
    font-size: 1.2em;
}

.filter-list {
    background-color: $background-color;
}
